<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>gat-mobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.nickorlow.gat-mobile</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>K2D-Bold.ttf</string>
		<string>K2D-BoldItalic.ttf</string>
		<string>K2D-ExtraBold.ttf</string>
		<string>K2D-ExtraBoldItalic.ttf</string>
		<string>K2D-ExtraLight.ttf</string>
		<string>K2D-ExtraLightItalic.ttf</string>
		<string>K2D-Italic.ttf</string>
		<string>K2D-Light.ttf</string>
		<string>K2D-LightItalic.ttf</string>
		<string>K2D-Medium.ttf</string>
		<string>K2D-MediumItalic.ttf</string>
		<string>K2D-Regular.ttf</string>
		<string>K2D-SemiBold.ttf</string>
		<string>K2D-SemiBoldItalic.ttf</string>
		<string>K2D-Thin.ttf</string>
		<string>K2D-ThinItalic.ttf</string>
		<string>._K2D-Bold.ttf</string>
		<string>._K2D-BoldItalic.ttf</string>
		<string>._K2D-ExtraBold.ttf</string>
		<string>._K2D-ExtraBoldItalic.ttf</string>
		<string>._K2D-ExtraLight.ttf</string>
		<string>._K2D-ExtraLightItalic.ttf</string>
		<string>._K2D-Italic.ttf</string>
		<string>._K2D-Light.ttf</string>
		<string>._K2D-LightItalic.ttf</string>
		<string>._K2D-Medium.ttf</string>
		<string>._K2D-MediumItalic.ttf</string>
		<string>._K2D-Regular.ttf</string>
		<string>._K2D-SemiBold.ttf</string>
		<string>._K2D-SemiBoldItalic.ttf</string>
		<string>._K2D-Thin.ttf</string>
		<string>._K2D-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
